<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Arturo Arranz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
</head>

<style>
.w3-lobster{
    font-family: "Lobster", serif;
}
#map {
 height: 580px;
 width: 40%;
}
button {
    display: block;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color:#F4A460;
	overflow-y: scroll;
  height: 100%;
	color: #1c536a;
}
#challenges{
  margin-right: -15em;
}
.bar{
  padding:1%;
}
.topheader{
	background-color:#15526a;
}
.topheader .left{
	width:40%;
	display:inline-block;
  text-align:right;
	margin-right: 2em;
	box-sizing: border-box;
	padding: 1%;
}
.topheader .right{
	width: 40%;
	display:inline-block;
	text-align:left;
	margin-right: -5em;
	box-sizing: border-box;
	padding: 1%;
}
.row{
	display:flex;
	margin-right: -4px;
}
.col{
	margin-right: -4px;
	box-sizing: border-box;
	padding: 1em;
}
@media only screen and (max-width: 300px) {
	.row {
		display: block;
		width: 100%;
	}
}
table { width: 100%; }
.content{
}
.container{
	width:100%;
	display:flex;
	flex-align:center;
	justify-items:center;
}

.btn.btn-primary{
	background-color:#15526a;
	color: #daeef2;
	border-top: 5px solid #15526a;
	margin: auto;
}

h5{
	padding-bottom: 20px;
}
form{
	padding-bottom: 30px;
}
li{
    margin-top: 30px;
}

}
ul{
	list-style:none;
}

</style>

<body style="background-color:#daeef2;">
	<div class='content'>
		<div class='topheader'>
			<div class='left'><img src="CityHunt.png" alt="Mountain View" style="width:25%;"></div>
			<div class='right' id="rojo"><h1 class="w3-lobster" style="color:#e76f28;">Exploring the city!</h1></div>
		</div>
		<div class="row">
			<div id="map"></div>
			<div class='col' style="background-color: #daeef2;">
        <h2 id="contentTitle" class="w3-lobster">Welcome to the adventure!</h2>
				<div id="content">
					<p>In order to complete the adventure you have to follow these instructions:</p>
					<ol>
						<li>Select your city!</li>
						<li>Choose between the different hunts!</li>
						<li>Complete the challenge and enjoy the adventure!</li>
					</ol>
				</div>
				<div id="upload">
					<form id="monu" method="POST">
	    			<input name="monument" placeholder="">
	    			<input type="submit" class="btn btn-primary">
					</form>
					<form id="face" method="POST">
	    			<input name="face" placeholder="">
	    			<input type="submit" class="btn btn-primary">
					</form>
					<form id="textbox" method="POST">
	    			<input name="textbox" placeholder="">
	    			<input type="submit" class="btn btn-primary">
					</form>
				</div>
				<div id="info"></div>
			</div>

			<div id="challenges" class='col' style="background-color: #daeef2;">
				<h3 class="w3-lobster">Challenges</h3>
				<div class="btn-group-vertical">
				  <button id="challenge1" type="button" class="btn btn-primary">Amalienborg</button>
					<button id="challenge2" type="button" class="btn btn-primary">Opera</button>
					<button id="challenge3" type="button" class="btn btn-primary">Little Mermaid</button>
					<button id="challenge4" type="button" class="btn btn-primary">Frederik’s Church</button>
					<button id="challenge5" type="button" class="btn btn-primary">Nyhavn</button>
					<button id="challenge6" type="button" class="btn btn-primary">Christianshavn</button>
					<button id="challenge7" type="button" class="btn btn-primary">Black Diamond</button>
					<button id="challenge8" type="button" class="btn btn-primary">Christiansborg Palace</button>
				</div>
			</div>
		</div>
	</div>
<script>
				$("#face").hide();
				$("#monu").hide();
				$("#textbox").hide();
        contador = 0;
				title = "<h1>Rojo</h1>"
				challenge1title = "<h2>Challenge 1: Amalienborg</h2>"
				challenge1text = "<h5>Try to make the guards smile and take a picture of them!!</h5>"
				challenge1congrats = "<h4>Congratulations!</h4><p> It consists of four palaces. Amalienborg became the Danish Royal Family residence in 1794 when a fire destroyed the real palace. Amalienborg is famous for its Royal Guard, called Den Kongelige Livgarde. Every day you can experience the changing of the guards, which takes place at 12.00.</p>"

				challenge2title = "<h2>Challenge 2: Opera</h2>"
				challenge2text = "<h5>Take a funny picture of you with the Opera!</h5>"
				challenge2congrats = "<h4>Congratulations!</h4><p> The Opera is one of the best examples of modern architecture in Europe and one of the most expensive ones in the world. It was built by Henning Larsen and thanks to the donation of the multimillionaire Mark Mc-Kinney.</p>"

				challenge3title = "<h2>Challenge 3: Little Mermaid</h2>"
				challenge3text = "<h5>Take a picture of the Little Mermaid!</h5>"
				challenge3congrats = "<h4>Congratulations!</h4><p> The little Mermaid was made in 1913 by Edvard Eriksen commissioned by Carl Jacobsen in 1909. The statue was in first place modelled after a Ballerina, but as she refused in the middle of the process, it ended up being modelled after Edvard Erikson’s wife. The little Mermaid become a focus for protest and vandalism, it has been painted, beheaded and dressed up many times.</p>"

				challenge4title = "<h2>Challenge 4: Frederik’s Church</h2>"
				challenge4text = "<h5>What is written in gold on the entrance of the church?</h5>"
				challenge4congrats = "<h4>Congratulations!</h4><p> Commonly known as The Marble Church. This church was built to commemorate the 300 years jubilee of the first coronation of a member of the House of Oldenburg. It is the largest church dome in Scandinavia with a span of 31m.</p>"

				challenge5title = "<h2>Challenge 5: Nyhavn</h2>"
				challenge5text = "<h5> How many different colors are in the buildings?</h5>"
				challenge5congrats = "<h4>Congratulations!</h4><p> It was excavated by Swedish war prisoners from the Swedish-Danish. At the beginning was known for its brothels, but nowadays is one of the most touristic place. Christian Andersen lived there.</p>"

				challenge6title = "<h2>Challenge 6: Christianshavn</h2>"
				challenge6text = "<h5> What are the 9 commons laws of Christiania?</h5>"
				challenge6congrats = "<h4>Congratulations!</h4><p>Freetown Christiania is a green and car-free neighbourhood in Copenhagen, best known for its autonomous inhabitants’ different way of life. It was established in 1971 by a group of hippies who occupied some abandoned military barracks on the site and developed their own set of society rules, completely independent of the Danish government. It is a mix of homemade houses, workshops, art galleries, music venues, cheap and organic eateries, and beautiful nature. </p>"

				challenge7title = "<h2>Challenge 7: Black Diamond</h2>"
				challenge7text = "<h5> How large is the oil painting on the ceiling of one of the corridors?</h5>"
				challenge7congrats = "<h4>Congratulations!</h4><p>The Royal Library in Copenhagen is the national library of Denmark and the university library of the University of Copenhagen. It is among the largest libraries in the world and the largest in the Nordic countries.</p>"

				challenge8title = "<h2>Challenge 8: Christiansborg Palace</h2>"
				challenge8text = "<h5> How many rocks there are in the square?</h5>"
				challenge8congrats = "<h4>Congratulations!</h4><p>Christiansborg Palace contains the Danish Parliament Folketinget, the Supreme Court, and the Ministry of State. You can visit its tower, which is the highest tower in Copenhagen, and it offers a magnificent view of the city's rooftops. It was burned twice. Frederik V on Horseback sculpture is located in the center of Amalienborg Square.</p>"

	      function initMap() {
	        var myLatlng = {lat: 55.701, lng: 12.560};
					var paria = {lat: 70.701, lng: 12.599};
					var chellenge1 = {lat: 55.684, lng: 12.593};
					var challenge2 = {lat: 55.683, lng: 12.595};
					var challenge3 = {lat: 55.692, lng: 12.599};
					var challenge4 = {lat: 55.684, lng: 12.589};
					var challenge5 = {lat: 55.680, lng: 12.587};
					var challenge6 = {lat: 55.674, lng: 12.597};
					var challenge7 = {lat: 55.673, lng: 12.582};
					var challenge8 = {lat: 55.675, lng: 12.578};

	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 13,
	          center: myLatlng
	        });

	        var marker = new google.maps.Marker({
	          position: paria,
	          map: map,
	          title: 'Click to zoom'
	        });

	        marker.addListener('click', function() {
	          map.setZoom(11);
	          map.setCenter(marker.getPosition());
	        });

				 document.getElementById("challenge1").addEventListener("click", function(){
					 if (!marker) return;
					 contador = contador +1;
					 $("#content").html(challenge1text);
					 $("#contentTitle").html(challenge1title);
					 $("#face").show();
					 $("#monu").hide();
					 $("#textbox").hide();

					 //here if
    		 	 $("#info").html(challenge1congrats);
					 var marker1 = new google.maps.Marker({
  	          position: chellenge1,
  	          map: map,
  	          title: 'Click to zoom'
  	       });
					 map.setZoom(14);
					 map.setCenter(marker1.getPosition());

			 	 });
				 document.getElementById("challenge2").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge2text);
					 $("#contentTitle").html(challenge2title);
					 $("#face").hide();
					 $("#monu").show();
					 $("#textbox").hide();

					 //here if
    		 	 $("#info").html(challenge2congrats);
					 var marker2 = new google.maps.Marker({
 	          position: challenge2,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker2.getPosition());
			 	 });
				 document.getElementById("challenge3").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge3text);
					 $("#contentTitle").html(challenge3title);
					 $("#face").hide();
					 $("#monu").show();
					 $("#textbox").hide();

					 //here if
    		 	 $("#info").html(challenge3congrats);
					 var marker3 = new google.maps.Marker({
 	          position: challenge3,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker3.getPosition());
			 	 });
				 document.getElementById("challenge4").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge4text);
					 $("#contentTitle").html(challenge4title);
					 $("#face").hide();
					 $("#monu").hide();
					 $("#textbox").show();

					 //here if
    		 	 $("#info").html(challenge4congrats);
					 var marker4 = new google.maps.Marker({
 	          position: challenge4,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker4.getPosition());
			 	 });
				 document.getElementById("challenge5").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge5text);
					 $("#contentTitle").html(challenge5title);
					 $("#face").hide();
					 $("#monu").hide();
					 $("#monu").hide();

					 //here if
    		 	 $("#info").html(challenge5congrats);
					 var marker5 = new google.maps.Marker({
 	          position: challenge5,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker5.getPosition());
			 	 });
				 document.getElementById("challenge6").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge6text);
					 $("#contentTitle").html(challenge6title);
					 $("#face").hide();
					 $("#monu").hide();
					 $("#monu").hide();

					 //here if
    		 	 $("#info").html(challenge6congrats);
					 var marker6 = new google.maps.Marker({
 	          position: challenge6,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker6.getPosition());
			 	 });
				 document.getElementById("challenge7").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge7text);
					 $("#contentTitle").html(challenge7title);
					 $("#face").hide();
					 $("#monu").hide();
					 $("#monu").hide();

					 //here if
    		 	 $("#info").html(challenge7congrats);
					 var marker7 = new google.maps.Marker({
 	          position: challenge7,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker7.getPosition());
			 	 });
				 document.getElementById("challenge8").addEventListener("click", function(){
					 if (!marker) return;
					 $("#content").html(challenge8text);
					 $("#contentTitle").html(challenge8title);
					 $("#face").hide();
					 $("#monu").hide();
					 $("#monu").hide();

					 //here if
    		 	 $("#info").html(challenge8congrats);
					 var marker8 = new google.maps.Marker({
 	          position: challenge8,
 	          map: map,
 	          title: 'Click to zoom'
 	         });
					 map.setZoom(14);
					 map.setCenter(marker8.getPosition());
			 	 });
	      }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgJkOEFLTP492_luapIDUcJm7CcCGdpgc&callback=initMap">
</script>
</body>
</html>
